@font-face {
    font-family: 'Helvetica Bold';
    src: url('/fonts/helvetica_bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

.stmg-info {
    &__info-block {
        padding-bottom: 20px;
        width: 100%;

        /* height: 100vh; */
        background: url('./img/prespectiv.webp') no-repeat center center;
        background-size: cover;
    }
}

.info-block__decor {
    position: absolute;
    display: flex;
    right: 0px;
    padding-top: 17px;
    padding-right: 44px;
    justify-content: end;

    @media (max-width: 1280px) {
        display: none;
    }
}

.container-contant {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 770px;

    &__title {
        padding-top: 49px;
        font-size: clamp(1.5rem, 0.607rem + 4.464vw, 4.625rem);
        font-family: 'Staatliches', sans-serif;
        color: #FFFFFF;
        line-height: 1;
        width: 100%;


        @media (max-width: 1280px) {
            font-size: 40px;
            text-align: center;
            padding-bottom: 24px
        }

        @media (min-width: 1280px) {
            max-width: 530px;
        }
    }

    &__text-stmg {
        padding-top: 24px;
        font-family: 'Helvetica Bold', sans-serif;
        font-size: 24px;
        text-align: center;
        color: #CFC9C9;
    }

    &__text {
        font-family: 'Helvetica Bold', sans-serif;
        font-size: 20px;
        text-align: center;
        color: #CFC9C9;
        z-index: 5;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

    }

    &__text-moment {
        font-family: 'Helvetica Bold', sans-serif;
        font-size: 20px;
        text-align: center;
        color: #CFC9C9;
    }

    &__video-container {
        width: 100%;
        height: 429px;
        max-width: 763px;
        aspect-ratio: 16 / 9;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

        video {
            width: 100%;
            height: 100%;
            object-fit: fill;
            border-radius: 10px;
        }

    }
}