.custom-select__arrow {
    transition: transform 0.3s ease;
    transform-origin: center;
}

.custom-select__arrow.open {

    transform: rotate(180deg);

}

.custom-select {
    position: relative;

    cursor: pointer;
}

.custom-select__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: #FFFFFF;
    border: 1px solid #0F172A;
    border-radius: 1px;
    font-weight: 500;
    font-size: 14;
    border-radius: 8px;
    min-width: 160px;

}

.custom-select-team__header {
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: #FFFFFF;
    border: 1px solid #E2E8F0;
    border-radius: 1px;
    font-weight: 500;
    font-size: 24px;
    border-radius: 24px;
    min-width: 160px;

}

.custom-select__arrow {
    margin-left: 6px;
}

.custom-select__options {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;

    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 6px;
    border-top: none;
    z-index: 1000;
    text-align: center;
    font-weight: 500;
    font-size: 14;
    border-radius: 8px;
    background-color: #FFFFFF;
    border: 1px solid #0F172A;
}

.custom-select__language {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 6px;
    border-top: none;
    z-index: 1000;
    text-align: center;
    font-weight: 500;
    font-size: 14;
    border-radius: 8px;
    background-color: #FFFFFF;
    border: 1px solid #E2E8F0;
}

.custom-select__option {

    position: relative;
    padding: 8px 10px;
    cursor: pointer;


}

.custom-select__option:hover,
.custom-select__option.selected {
    background-color: #f0f0f0;
}

.selected-option {
    position: absolute;
    top: 8px;
    left: 10px;


}


.custom-select__show {
    display: flex;

    justify-content: space-between;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 4px;
    background-color: #FFFFFF;
    border: 1px solid #0F172A;
    border-radius: 1px;
    font-weight: 500;
    font-size: 14;
    border-radius: 8px;
    min-width: 80px;
}

.custom-select__show-option {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 6px;
    border-top: none;
    z-index: 1000;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    border-radius: 8px;
    background-color: #FFFFFF;
    border: 1px solid #E2E8F0;

}

.custom-select__option-show {

    position: relative;
    padding: 8px 10px;
    cursor: pointer;
}

.custom-select__option-show:hover,
.custom-select__option-show.selected {
    background-color: #f0f0f0;
}

.selected-option-show {
    position: absolute;
    top: 8px;
    left: 5px;


}