

/************************/
.item-action__block {
    max-width: fit-content;
    border-radius: 13px;
    border: 1px solid  #262626;
    background: #1A1A1A;
    padding: 30px;
    column-gap:50px;
    display: flex;
    position: relative;
    z-index: 5;
    align-items: center;
    .user-stats {
        border-radius: 12px !important;
    }
    @media(max-width:1500.98px){
        padding: 20px;
    }
    @media(max-width:1280.98px){
        column-gap:20px;
    }
    @media(max-width:487.98px){
        max-width: 100%;
        justify-content: space-between;
    }
    transition: all 0.3s ease 0s;
    @media(hover:hover) {
        &:hover {
            cursor: pointer;
            box-shadow:3px 3px 4px rgb(255, 209, 26, 0.5);
        }
    }
}


/*************************/

.image-cart {

    // .image-cart__items

    &__items {
        padding: 80px 0px 80px 80px;
        @media(max-width:1500.98px){
            padding: 60px 0px 60px 60px;
        }
        @media(max-width:1280.98px){
            padding: 40px 0px 40px 40px;
        }
        @media(max-width:991.98px){
            padding: 40px 0px;
        }
    }

    // .image-cart__top

    &__top {
        display: flex;
        gap: 15px;
        justify-content: space-between;
        align-items: center;
        &:not(:last-child){
            margin-bottom:30px;
            @media(max-width:1280.98px){
                margin-bottom: 24px;
            }
        }
        @media(max-width:991.98px){
            flex-direction: column;
            align-items: flex-start;
        }
    }


    // .image-cart__title

    &__title {
        flex: 0 1 26.390403%; /* 242/917 */
    }

    // .image-cart__text

    &__text {
        flex: 0 1 71.31952%; /* 654/917 */
    }

    // .image-cart__image

    &__image {
        width: 100%;
        max-height: 362px;
        img {
            object-fit: contain;
            max-width: 100%;
        }
        &:not(:last-child){
            margin-bottom:30px;
        @media(max-width:1280.98px){
            margin-bottom: 24px;
        }
        }
    }

    // .image-cart__content

    &__content {
        
    }
}


/******************************/
.block-text {
    position: relative;
    z-index: 5;
    // .block-text__item
    display: flex;
    flex-direction: column;
    gap: 30px;
    @media(max-width:1280.98px){
        gap: 16px;
    }
    .block-text__content {
        display: flex;
        gap: 30px;
        @media(max-width:1280.98px){
            gap: 16px;
        }
        @media(max-width:600.98px){
            flex-direction: column;
        }
    }
    .block-text__item-1 {
        flex: 0 1 28.555071%; /* 216/917 */
    }
    .block-text__item-2 {
        gap: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 0 1 70.263904%; /* 681/917 */
        @media(max-width:487.98px){
            flex-direction: column;
            align-items: flex-start;
            .block-item__button {
                width: 100%;
                a, button {
                    width: 100%;
                }
            }
            
        }
        .button-arrow__image {
            transform: rotate(0deg);
        }
    }
    .block-text__body {

    }
    &__item {
        border-radius: 8px;
        border: 1px solid #262626;
        background: #1A1A1A;
        padding: 30px;
        @media(max-width:1280.98px){
            padding: 24px;
        }
        @media(max-width:767.98px){
            padding: 20px;
        }
        transition: all 0.3s ease 0s;
        @media(hover:hover) {
            &:hover {
                cursor: pointer;
                box-shadow:3px 3px 4px rgb(255, 209, 26, 0.5);
            }
        }
    }

    // .block-text__label

    &__label {
        &:not(:last-child){
        margin-bottom:4px;
        @media(max-width:1280.98px){margin-bottom: 2px;}
        }
    }

    // .block-text__title

    &__title {
        color:  #FFF;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: -0.6px;
        @media(max-width:1280.98px){
            font-size: 18px;
        }
        @media(max-width:767.98px){
            font-size: 16px;
        }
    }
}