.admin__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 728px;
}

.admin {
    &__title {
        margin-top: 30px;

    }
}

.new-game {
    margin-top: 30px;

    &__input {
        min-height: 50px;
        padding: 10px;
        border-radius: 8px;

    }
}