.main-block {
    width: 100%;
    height: 100%;
    background: #df0a0a;

    &__first-block {
        display: flex;
        height: 1500px;
        background: #9698df;
    }

    &__test-block {
        position: relative;
        height: 900px;
        background: #14a9ce;
    }
}

.text-box {
    position: sticky;
    background: #df0a0a;
    height: 140px;
    top: 0;
    margin-bottom: 30px;
}

.stickp {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;

    background: #a85273;
    max-height: max-content;

}