@import url(https://fonts.googleapis.com/css?family=Staatliches:regular);

.main__home-page {
    display: flex;
    position: relative;
    background-color: #141414;
    justify-content: end;
    width: 100%;

}

/* .all {
    display: flex;
    flex-direction: column;
}

.teststicky {
    position: relative;
    bottom: 290px;
    z-index: 8;
} */

.box-right {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: end;
}

.home-page__right {
    display: flex;
    flex-direction: column;
    /* width: 100%;
    max-width: 1460px; */
    width: 78%;

    @media (max-width: 1280px) {
        width: 100%;
    }

    @media (max-height: 600px) {
        width: 100%;
    }
}

.small-footer__decor-line {
    z-index: 1;
    width: 100%;
}