.form-upload-post {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.textarea-news {
    width: 100%;
    height: auto;
    padding: 20px;
    border:1px dashed #CAFF33;
    border-radius:12px;
    outline: none;
    &:focus {
        border:1px solid #CAFF33;
    }
}

#contentEditable h3{
    font-size: 28px;
    font-weight: 500;
    color: #FFFFFF;
}
#contentEditable {
    color:#98989A;
    font-size: 18px;
    @media(max-width:1280.98px){
        font-size: 16px;
    }
    @media(max-width:991.98px){
        font-size: 14px;
    }
}