.decor-page {

    display: flex;
    justify-content: start;
    z-index: 9;

    @media (max-height: 600px) {
        display: none;
    }

    @media (max-width: 1280px) {
        display: none;
    }

    &__line {
        position: fixed;
        top: 0;
        height: 100vh;
        width: 3px;
        background-color: #E7C083;
        z-index: 2;
        left: 235px;

    }

    &__game-img {
        position: fixed;
        /*  width: 112px; */
        width: 6%;
        height: 28%;
        /* height: 276px; */
        left: 35px;
        bottom: 25%;
    }

    &__over-img {
        position: fixed;
        /* width: 118px; */
        width: 6.3%;
        height: 36%;
        /* height: 277px; */
        left: 80px;
        bottom: 50%;

        img {
            z-index: 8;
        }
    }

    &__soldier {
        position: fixed;
        width: 38%;
        height: 75%;
        max-height: 690px;
        left: 0px;
        bottom: 0px;
        z-index: 3;


    }

    &__arrow-down {
        position: fixed;
        left: 41px;
        bottom: 2%;
        height: 15%;
        transform: rotate(180deg);
        width: 5%;
    }

    /*   &__arrow {
        position: fixed;
        padding-top: 41px;
        top: 41;
        left: 41px;
    } */
}