.decor-page {
    position: relative;
    display: flex;
    justify-content: start;

    @media (max-height: 600px) {
        display: none;
    }

    @media (max-width: 1280px) {
        display: none;
    }

    &__line {
        position: fixed;
        top: 0;
        height: 100vh;
        width: 3px;
        background-color: #E7C083;
        z-index: 2;
        left: 235px;

    }

    &__game-img {
        position: fixed;
        width: 112px;
        height: 276px;
        left: 35px;
        bottom: 178px;
    }

    &__over-img {
        position: fixed;
        width: 118px;
        height: 277px;
        left: 80px;
        bottom: 487px;
    }

    &__soldier {
        position: fixed;
        width: 38%;
        max-height: 690px;
        left: 0px;
        bottom: 0px;
        z-index: 3;


    }

    &__arrow-down {
        position: fixed;
        left: 41px;
        bottom: 10px;
        transform: rotate(180deg);
    }

    /*   &__arrow {
        position: fixed;
        padding-top: 41px;
        top: 41;
        left: 41px;
    } */
}