.title-main {
    color:  #FFF;
    font-family: "Kumbh Sans";
    font-size: 70px;
    font-weight: 500;
    line-height: 1.2; 
    letter-spacing: -2.1px;
    @media(max-width:1280.98px){
        font-size: 55px;
        letter-spacing: -1.65px;
    }
    @media(max-width:991.98px){
        font-size: 45px;
    }
    @media(max-width:767.98px){
        font-size: 36px;
    }

    @media(max-width:487.98px){
        font-size: 30px;
        letter-spacing: -0.9px;
    }
    @media(max-width:367.98px){
        font-size: 26px;
    }
}