.main-future__item {
    @media(min-width:991.98px){
        align-items: center;
    }
    display: flex;
    border-bottom: 1px solid  #262626;
    @media(max-width:991.98px){
        flex-direction: column;
    }
}


.item-action {
    // .item-action__title
    &__title {
        &:not(:last-child){
            margin-bottom:20px;
        }
    }
}

.item-action {
    
    &__image {
        img {
            filter: drop-shadow(2px 2px 3px rgba(255, 209, 26, 1));
            width: 80px;
            height: 80px;
            @media(max-width:1280.98px){
                height: 60px;
                width: 60px;
            }
            @media(max-width:767.98px){
                width: 50px;
                height: 50px;
            }
        }
        &:not(:last-child){
            margin-bottom: 50px;
            @media(max-width:1280.98px){
                margin-bottom: 40px;
            }
            @media(max-width:767.98px){
                margin-bottom: 20px;
            }
        }
    }
    // .item-action__body
    &__body {
        padding-bottom: 50px;
        padding-top: 50px;
        padding-right: 80px;
        flex: 0 1 37.593985%; /* 600/1596 */
        @media(max-width:1280.98px){
            padding-right: 60px;
        }
        @media(max-width:991.98px){
            padding-right: 0px;
            border-bottom: 1px solid  #262626;
        }
    }

    // .item-action__content

    &__content {
        padding: 80px 0px 80px 80px;
        @media(max-width:1500.98px){
            padding: 60px 0px 60px 60px;
        }
        @media(max-width:1280.98px){
            padding: 40px 0px 40px 40px;
        }
        @media(max-width:991.98px){
            padding: 40px 0px;
        }
        @media(min-width:991.98px){
            border-left: 1px solid  #262626;
        }
        flex: 0 1 62.842105%; /* 987/1596 */
    }

    &__text {
        &:not(:last-child){
            margin-bottom:50px;
            @media(max-width:1280.98px){
                margin-bottom: 30px;
            }
            @media(max-width:767.98px){
                margin-bottom: 24px;
            }
        }
    }
}
