.footer {
    display: flex;
    flex-direction: column;
    position: relative;

    &__section {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        background: linear-gradient(to bottom, #141414 33%, #FDD500 67%);
        width: 100vw;

        padding-bottom: 250px;

        @media (max-width: 767.98px) {
            padding-bottom: 30%;
        }
    }

    &__small-footer {
        height: 110px;
        background-color: #332D2B;
        z-index: 10;
    }
}

.box-footer {
    &__arrow-img {
        position: absolute;
        right: 0;
        top: 19%;
        z-index: 1;
        width: 14%;

        @media (max-width: 1280px) {
            display: none;
        }
    }

    &__tank-img {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 1;
        width: 39%;
        height: 50%;

        @media (max-width: 1280px) {
            width: 50%;
        }

        @media (max-width: 479.98px) {
            width: 60%;
        }
    }
}

.stars-img {
    width: 10%;

}


.contant-info {
    display: flex;
    flex-direction: column;

    margin-left: 24%;

    align-items: center;
    width: 100%;

    max-width: 62%;
    z-index: 2;

    @media (max-width: 1280px) {
        margin-left: 0px;
    }

    &__title {
        margin-top: 13%;
        display: flex;
        font-family: 'Staatliches', sans-serif;
        font-size: clamp(2.125rem, 0.658rem + 7.333vw, 9rem);
        color: #E7C083;
        line-height: 0.8;
        text-align: center;
        transform: rotate(-1deg);
    }

    &__stars {
        display: flex;
        gap: 21px;
        justify-content: center;
        margin-top: 10px;
    }

    &__join {
        font-family: 'Staatliches', sans-serif;
        font-size: 40px;
        color: #000000;
        margin-top: 117px;
        -webkit-text-stroke: 2px #FDD500;

    }


    &__button-subscribe {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 18px;
        margin-top: 15px;
        border: #000000 solid 5px;
        padding: 10px;
        padding-left: 46px;
        padding-right: 46px;
        font-family: 'Staatliches', sans-serif;
        font-size: 24px;
        color: #000000;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        line-height: 1;
        background: rgba(248, 248, 248, 0.3);
    }

    &__button-subscribe:hover {

        background: rgba(202, 172, 21, 0.5);


        border-radius: 0px;
    }

}