.team-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 25px;
    padding-bottom: 15px;
    border: 2px solid #9340d8;
    background: #ffffff;
    border-radius: 48px;
    gap: 20px;

    &__add-role {
        display: flex;
        background: #FFFFFF;
        border-radius: 24px;
        min-height: 52px;
        align-items: center;
        border: 2px solid #B6A1D3;

    }

    &__button {
        background-color: #e25c4a;
        padding: 10px 20px;
        max-width: max-content;
        border-radius: 10px;
        font-size: 16px;
        color: #FFFFFF;
        margin: 0 auto;
        transition: background-color 0.3s ease;
    }

    &__button-remove {
        border: 2px solid #e01b01;
        color: #e01b01;
        padding: 10px 20px;
        max-width: max-content;
        border-radius: 10px;
        font-size: 16px;

        margin: 0 auto;
        transition: background-color 0.3s ease;
    }

    &__button-remove:hover {
        color: #FFFFFF;
        background-color: #e01b01;

    }

    &__button:hover {

        background-color: #B6A1D3;

    }
}

.add-role {
    color: #B6A1D3;


    &__number {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10%;
        min-height: 56px;
        margin: 0px;
        border-right: 2px solid #B6A1D3;
    }

    &__role {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35%;
        border-right: 2px solid #B6A1D3;
        min-height: 56px;
    }


    &__name {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45%;
        border-right: 2px solid #B6A1D3;
        min-height: 56px;
    }

    &__delete {
        width: 10%;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 40%;
            height: 40%;
        }
    }
}

@media (max-width: 640px) {
    .add-role {
        color: #B6A1D3;
        display: flex;
        flex-direction: column;

        &__number {
            width: 100%;
            border-right: 0px;
            border-bottom: 2px solid #B6A1D3;
        }

        &__role {
            width: 100%;
            border-right: 0px;
            border-bottom: 2px solid #B6A1D3;
        }


        &__name {
            width: 100%;
            border-right: 0px;

        }

        &__delete {
            width: 100%;
            border-radius: 0px 0px 24px 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-top: 2px solid #B6A1D3;

            img {
                margin-top: 10px;
                margin-bottom: 10px;
                width: 24px;

            }
        }
    }

}