.dashboard__panel-buttons {
    display: flex;
    align-items: center;
    gap: 18px;
    justify-content: end;
    font-size: 18px;
    color: #E2E8F0;
    font-weight: 500;
    border-radius: 12px;
    border: #CAFF33 1px solid;
    font-family: "Inter";
    padding: 20px 15px;
    width: 100%;
}

