.team-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 109px;
    padding-left: 83px;
    padding-right: 83px;
    margin-left: auto;
    width: 78%;

    &__title {
        font-family: 'Helvetica-Bold', sans-serif;
        font-size: 64px;
        color: #E7C083;
        margin-bottom: 30px;

    }

    &__list {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1000px;
    }

    @media (max-width: 1280px) {
        width: 100%;
    }

    @media (max-height: 600px) {
        width: 100%;
    }
}

.team {


    &__block {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border-top: 3px solid #E7C083;
        gap: 20px;
        padding-top: 30px;
        align-items: center;
        padding-bottom: 24px;
    }
}

.box-user {

    &__user {
        display: flex;
        flex-direction: column;

        font-family: 'Helvetica-Bold', sans-serif;
        color: #E7C083;
        font-size: 24px;
        font-weight: 700;
        align-items: center;
    }

}


.team-block {

    &__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
        gap: 30px;

    }
}

.role {
    font-size: 14px;
}