.tabs {
    
    @media(max-width:1280.98px){
        padding: 60px 0px 60px 60px;
        gap: 24px;
    }
    @media(max-width:991.98px){
        padding: 40px 0px;
        gap: 20px;
    }
    // .tabs__item

    display: flex;
    flex-direction: column;
    gap: 30px;

}
